# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual environments
venv/
env/

# Django stuff
db.sqlite3
*.log
*.pot
*.pyc
local_settings.py
staticfiles/
media/
*.py[cod]

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
